<div class="text">
    <p>Events</p>
</div>

<div class="event-container" *ngIf="events && events.length; else noEventsTemplate">
    <table mat-table [dataSource]="events">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef>Place</th>
            <td mat-cell *matCellDef="let element">{{element.place}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.date}}</td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let element">{{element.time}}</td>
        </ng-container>

        <ng-container matColumnDef="organizer">
            <th mat-header-cell *matHeaderCellDef>Organizer</th>
            <td mat-cell *matCellDef="let element">{{element.organizer}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{element.price}}</td>
        </ng-container>

        <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef>Capacity (person)</th>
            <td mat-cell *matCellDef="let element">{{element.capacity}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let ro; columns: columns"></tr>
    </table>
</div>

<ng-template #noEventsTemplate>
    <p>No events available.</p>
</ng-template>

<div class="main-buttons">
    <button type="button" (click)="navigate('/login-options')">Log in</button>
</div>

<div class="back">
    <button type="reset" (click)="goBack()">Back</button>
</div>

